*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.App{
    width: 100%;
    min-height: 100vh;
    background: green;
    color: black;
    font-weight: bold;
    display: flex;
}
.App .container{
    width: 100%;
    max-width: 600px;
    max-height: 600px;
    margin:auto;
    padding: 30px;
    display: flex;
    flex-direction: column;
    background-color:aqua;
}
.App .container .randomnumber{
    background: #FAF0D7;
    padding: 20px;
    max-width: 100%;

        
}
.App .container .randomnumber p span{
    color: red;
    font-weight: bold;
}
.App .numcontainer{
    display: flex;
    justify-content: space-between;
    padding: 60px 0;
    min-width: 100%;
}
.App .container div{
    width: 100%;
    max-width: 42%;
}
.App .numcontainer div input{
    padding: 20px;
    border: none;
    outline: none;
    width: 100%;
    background: #FAF0D7;
    color: red;
    font-weight: bold;
    
}
.App .container button{
    align-items: flex-end;
    border: none;
    outline: none;
    background: #FAF0D7;
    color: black;
    font-weight: bold;
    padding: 14px;
    width: 100%;
    font-size: 22px;
    cursor: pointer;
    transition: .4s;
}
.App .container button:hover{
    background-color: black;
    color: #FAF0D7;
}